<h1>About Page</h1>
<p>Find me in app/views/pages/about.html.erb</p>
<div class = "green">
    <p>0.01</p>

    <p>001</p>
    <p>0001</p>
    <p>00001</p>
    <p>000001</p>
    <p>0000001</p>
    <p>00000001</p>
    <p>000000001</p>
    <p>0000000001</p>
    <p>00000000001</p>
    <p>000000000001</p>
    <p>0000000000001</p>
</div>
    <p>0.01</p>
    <p>001</p>
    <p>0001</p>
    <p>00001</p>
<div class = "brown">
    <p>0000010000001000000010000000010000000001</p>
</div>