<h1>Contact Page</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>A Random Address</h3>
    
    
    <p>301 Wakara Way, Salt Lake City, UT 84108</p>

<h3>Phone</h3>

<p><%= number_to_phone"5555555555"%></p>

    <h3>Email</h3>

    <p><a href="mailto:catwizard2003@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.9038982539537!2d-111.82491464860868!3d40.76413837922477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xea4daae8583c154e!2sNatural+History+Museum+of+Utah!5e0!3m2!1sen!2sus!4v1500304096635" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>

