        <div class="inner cover">
         <h1 class="cover-heading">life is short and you will die some day so have a puppy picture</h1>
         <p class="lead">some one stole the picture</p>
         <p class="lead">
           <a href="/about" class="btn btn-lg btn-secondary">Learn more</a>
         </p>
       </div>

 